<% provide(:title, 'Add Mod') %>
<h1 class = "white">Add Mod</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@mod) do |f| %>
      <div id = "button">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div id = "button">
        <%= f.label :mod_type %>
        <%= f.text_field :mod_type, class: 'form-control' %>
      </div>
      <div id = "button">
        <%= f.label :image_url, "Image Url" %>
        <%= f.text_field :image_url, class: 'form-control' %>
      </div>
      <div id = "button">
        <%= f.label :whereToGet , "Where To Get"%>
        <%= f.text_area :whereToGet, class: 'form-control' %>
      </div>
      <div id = "button">
        <%= f.label :dropChance, "Drop Chance" %>
        <%= f.text_field :dropChance, class: 'form-control' %>
      </div>
      <div id = "button">
        <%= f.submit "Add Mod", class: "btn-submit btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<!-- t.string :name
t.string :imageUrl
t.string :whereToGet
t.float :dropChance -->
