<% provide(:title, 'Add Mod') %>
<h1 class = "white">Add Mod</h1>

<div class="row">
    <%= form_for(@mod) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :image_url, "Image Url" %>
      <%= f.text_field :image_url, class: 'form-control' %>

      <%= f.label :whereToGet , "Where To Get"%>
      <%= f.text_area :whereToGet, class: 'form-control' %>

      <%= f.label :dropChance, "Drop Chance" %>
      <%= f.text_field :dropChance, class: 'form-control' %>

      <%= f.submit "Add Mod", class: "btn btn-primary" %>
    <% end %>
</div>

<!-- t.string :name
t.string :imageUrl
t.string :whereToGet
t.float :dropChance -->
