<div id ="mods_data">
    <h1 id="mods-view-header_"> <%= @mod.name %> </h1>
    <div id="image-and-text">
        <img id="mods-view-image_" src= <%= @mod.image_url %>  alt=<%= @mod.name %> title=<%= @mod.name %> >
    </div>

  <% if logged_in? && not_free? %>
    <%= form_for(:user, url: current_link + "mods/" + @mod.mod_type.to_s + "/" + @mod.id.to_s) do |f| %>
      <% if FavoriteMod.where(user_id: current_user, mod_id: @mod.id).exists? %>
        <div class = 'favorites_button_mods'>
          <%= f.submit "Remove mod from favorites", class: "btn btn-secoundary" %>
        </div>
      <%else%>
        <div class = 'favorites_button_mods'>
          <%= f.submit "Add mod to favorites", class: "btn btn-secoundary" %>
        </div>
      <% end %>
    <% end %>
    <% if current_user.permissions  > 1 %>
      <div class = 'favorites_button_center'>
        <p style = "font-size: 150%;"><%= link_to "• Delete", @mod, method: :delete, data: { confirm: "You sure?"}%></p>
        <p style = "font-size: 150%;"><%= link_to "• Edit", @mod, method: :edit %> </p>
      </div>
    <% end %>
  <% end %>
</div>

<!-- <h4 style = "text-align: center">Most popular Mods</h4>

  <% @mods = Mod.where(mod_type: @mod.mod_type).order("views DESC") %>
  <% @mFirst = @mods[0]%>
  <% @mSecond = @mods[1] %>
  <% @mThird = @mods[1] %>

<div class = "most-viewed-bot" >
  <ul>
    <li><img src="<%= @mFirst.image_url %>" class="most-popular-image weapon first" title="<%= @mFirst.name %>" alt="<%= @mFirst.name %>" onclick="location.href='/mods/<%= @mFirst.id %>'"></li>
    <li><img src="<%= @mSecond.image_url %>" class="most-popular-image weapon first" title="<%= @mSecond.name %>" alt="<%= @mSecond .name %>" onclick="location.href='/mods/<%= @mSecond.id %>'"></li>
    <li><img src="<%= @mThird.image_url %>" class="most-popular-image weapon first" title="<%= @mThird.name %>" alt="<%= @mThird.name %>" onclick="location.href='/mods/<%= @mThird.id %>'"></li>
  </ul>
</div> -->
