<% @neo.each do |neo| %>
    <div id="header-div">
        <img src="<%= neo.image_url %>" id="relic-img" alt="<% neo.name %>">
        <h1 onclick="location.href='/relics/neo/<%= neo.id %>'" id="relics-h1"> <%= neo.name %> </h1>
        <% if logged_in? && current_user.permissions  > 1 %>
          <h2 style = "color: white; text-align: center; font-size:100%;"><%= link_to "• Delete", neo, method: :delete, data: { confirm: "You sure?"}%></h2>
        <% end %>
    </div>
<% end %>
<%= render 'layouts/ads' %>
