<% provide(:title, 'All users') %>
<h1 class = "white">All users</h1>
<div id = "paginate">
  <%= will_paginate %>
</div>
    <table id = "index_table" align = "center">
    <% @users.each do |user| %>
      <tr id = "index_tr">
          <th id = "index_th"><%= image_tag(user.image_url, height: '32', width: '32', id: 'user_image_') %><th>
          <th  id = "index_th"><%= link_to user.name, user %><th>
          <!-- <%if current_user?(user) %>
              <th  id = "index_th"><%= link_to "• Delete", user, method: :delete, data: { confirm: "You sure?"}%></th>
          <%end%> -->
          <% if (current_user.permissions == 3) && !current_user?(user) %>
              <th id = "index_th"><%= user_rank(user) %></th>
              <th  id = "index_th"><%= link_to "• Promote", user, method: :promote, data: { confirm: "You sure?" }%></th>
              <th id = "index_th"><%= link_to "• Demote", current_link + 'users/demote/' + user.id.to_s, method: :post, data: { confirm: "You sure?" }%></th>
              <th  id = "index_th"><%= link_to "• Delete", user, method: :delete, data: { confirm: "You sure?"}%></th>
          <% end %>
          <% if current_user?(user) %>
            <th id = "index_th">(You)</th>
          <%end%>
        </tr>
  <%end%>
  </table>
<div id = "paginate">
  <%= will_paginate %>
</div>
