<script type="text/javascript">
    $(function(){
    $('.fadein img:gt(0)').hide();
    setInterval(function(){
        $('.fadein :first-child').fadeOut()
            .next('img').fadeIn()
            .end().appendTo('.fadein');},
            5000);
    });
</script>

<h1 id="landing-page-header_" class = "white"> Welcome to WarframeLootWiki! </h1>

<div class="fadein">
    <img src="https://n8k6e2y6.ssl.hwcdn.net/images/_newsImages/2017/Aug/22/HydroidPrime_1080p.jpg" title="Warframes" alt="Warfames" onclick="location.href='/warframes'">
    <img src="https://image.ibb.co/gcfbtS/warframe_Loot_Wiki_weapons.png" title="Weapons" alt="Weapons" onclick="location.href='/weapons'">
    <img src="https://image.ibb.co/byOqL7/warframe_Loot_Wiki_mods3.png" title="Mods" alt="Mods" onclick="location.href='/mods'">
    <img src="https://image.ibb.co/j6Dknn/warframe_Loot_Wiki_relics.png" title="Relics" alt="Relics" onclick="location.href='/relics'">
</div>
<div class="shadow"></div>

<!-- <div id="eidolon-clock">
    <h1 id="clock">1hr 54m 14s</h1>
</div> -->

<% if current_user.permissions < 1 %>
    <div class="most-viewed left ad">
        <img src="https://i.imgur.com/5PTE30E.png" class="image-ad" title="the brand new corinth" alt="the brand new corinth" onclick="location.href='http://warframe.wikia.com/wiki/Corinth'">
    </div>
    <div class="most-viewed right ad">
        <img src="https://i.imgur.com/c9572sZ.png" class="image-ad" title="hot singles near you" alt="hot singles near you" onclick="location.href='http://warframe.wikia.com/wiki/Ember/Prime'">
    </div>
<% else %>
    <% @warframes = Warframe.order("views DESC") %>
    <div class="most-viewed left">
        <h4 class="most-popular-header">Most popular Warframes</h4>
        <% @Wfirst = @warframes[0]%>
        <% @Wsecond = @warframes[1] %>
        <%  @Wthird = @warframes[2] %>
        <img src="<%= @Wfirst.image_url %>" class="most-popular-image warframe first" title="<%= @Wfirst.name %>" alt="<%= @Wfirst.name %>" onclick="location.href='/warframes/<%= @Wfirst.id %>'">
        <img src="<%= @Wsecond.image_url %>" class="most-popular-image warframe second" title="<%= @Wsecond.name %>" alt="<%= @Wsecond.name %>" onclick="location.href='/warframes/<%= @Wsecond.id %>'">
        <img src="<%= @Wthird.image_url %>" class="most-popular-image warframe third" title="<%= @Wthird.name %>" alt="<%= @Wthird.name %>" onclick="location.href='/warframes/<%= @Wthird.id %>'">
    </div>

    <% @weapons = Weapon.order("views DESC") %>
    <div class="most-viewed right">
        <h4>Most popular Weapons</h4>
        <% @Wefirst = @weapons[0]%>
        <% @Wesecond = @weapons[1] %>
        <% @Wethird = @weapons[2] %>
        <img src="<%= @Wefirst.image_url %>" class="most-popular-image weapon first" title="<%= @Wefirst .name %>" alt="<%= @Wefirst .name %>" onclick="location.href='/weapons/<%= @Wefirst .id %>'">
        <img src="<%= @Wesecond.image_url %>" class="most-popular-image weapon second" title="<%= @Wesecond.name %>" alt="<%= @Wesecond.name %>" onclick="location.href='/weapons/<%= @Wesecond.id %>'">
        <img src="<%= @Wethird.image_url %>" class="most-popular-image weapon third-weapon" title="<%= @Wethird.name %>" alt="<%= @Wethird.name %>" onclick="location.href='/weapons/<%= @Wethird.id %>'">
    </div>
<% end %>

<p id="landing-page-paragraph_">
    Our mission is to help all Warframe players - from veterans to newbies.
</p>
