<script>
    function startTimer(display) {
        var date = new Date();
        var h16 = new Date(date.getFullYear(), date.getMonth(), date.getDate(), 16);
        if(date.getHours() >= 16) {
            h16.setDate(h16.getDate() + 1);
        }
        h16 = h16.getTime();
        var diff,
            hours,
            minutes,
            seconds;

        function timer() {
            diff = (((h16 - Date.now()) / 1000) | 0);

            hours = (diff / 3600) | 0;
            minutes = ((diff % 3600) / 60) | 0;
            seconds = (diff % 60) | 0;

            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = hours + ":" + minutes + ":" + seconds;
        };
        timer();
        setInterval(timer, 1000);
    }
    window.onload = function () {
        var timeLeft = 3600 * 16,
            display = document.querySelector('#clock');
        startTimer(display);
    };
</script>

<% provide(:title, @user.name) %>
<div class = "user_show">
  <div class = "row" >
    <aside class = "col-md-4">
      <section class = "user_info">
        <h1>
          <div id = "profile_name">
              <div id="profile_picture">
                  <%= image_tag(@user.image_url, width: "40%") %>
                  <br>
              </div>
            <%= @user.name %>
          </div>

          <table id = "show_table">
            <% if current_user.permissions == 3 %>
              <tr id = "show_tr"><th id = "show_th"><%= user_rank(@user) %></th></tr>
            <%end%>
            <% if (current_user.permissions == 3) && !current_user?(@user) %>
              <tr id = "show_tr"><th id = "show_th"><%= link_to "• Promote", @user, method: :promote, data: { confirm: "You sure?" }%></th></tr>
              <tr id = "show_tr"><th id = "show_th"><%= link_to "• Demote", current_link + 'users/demote/' + @user.id.to_s, method: :post, data: { confirm: "You sure?" }%></th></tr>
              <tr id = "show_tr"><th id = "show_th"><%= link_to "• Delete account", @user, method: :delete, data: { confirm: "You sure?"}%></th></tr></tr>
            <% end %>
            <% if current_user?(@user) %>
              <th id = "show_th">(You)</th>
            <%end%>
              <!-- <th id = "show_th"><%= link_to "• Make Moderator", @user, method: :make_moderator, data: { confirm: "You sure?" } %></th> -->
          </table>
        </h1>
      </section>
    </aside>
  </div>
</div>

<% if current_user.permissions < 1 %>
    <div class="upgrade_button">
        <%= link_to "Upgrade to Premium", "/premium", :class => "button button1"%>
    </div>
    <div class="most-viewed right ad">
        <img src="https://i.imgur.com/c9572sZ.png" class="image-ad" title="hot singles near you" alt="hot singles near you" onclick="location.href='http://warframe.wikia.com/wiki/Ember/Prime'">
    </div>
<% else %>
    <h1 class="eidolon-h1">Time until Eidolon</h1>

    <div id="eidolon-clock">
        <h1 id="clock">0hr 00m 00s</h1>
    </div>
<%end%>
