<h1 class="warframes-header_"> Warframes </h1>

<!-- <div class="warframes-div_">
    <a href="/warframes/Ash" title="Ash">
        <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/a/ac/AshIcon64.png/revision/latest?cb=20170920180516" alt="ash">
        <span class="warframes-names-span_">
                <span class="warframes-span_">Ash</span>
        </span>
    </a>
</div>
<div class="warframes-div_">
    <a href="/warframes/Atlas" title="Atlas">
        <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/a/a3/AtlasIcon64.png/revision/latest?cb=20170920180540" alt="atlas">
        <span class="warframes-names-span_">
                <span class="warframes-span_">Atlas</span>
        </span>
    </a>
</div>
<a href="/warframes/Banshee">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/2/25/BansheeIcon64.png/revision/latest?cb=20170920180616" alt="banshee">
</a>
<a href="/warframes/Chroma">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/7/7f/ChromaIcon64.png/revision/latest?cb=20170920180633" alt="chroma">
</a>
<a href="/warframes/Ember">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/e/e0/EmberIcon64.png/revision/latest?cb=20170920180649" alt="ember">
</a>
<a href="/warframes/Equinox">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/c/c1/EquinoxIcon64.png/revision/latest?cb=20170920180706" alt="equinox">
</a>
<a href="/warframes/Excalibur">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/9/9e/ExcaliburIcon64.png/revision/latest?cb=20170920180722" alt="excalibur">
</a>
<a href="/warframes/Frost">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/4/48/FrostIcon64.png/revision/latest?cb=20170920180739" alt="frost">
</a>
<a href="/warframes/Gara">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/5/51/GaraIcon64.png/revision/latest?cb=20171018003157" alt="gara">
</a>
<a href="/warframes/Harrow">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/4/4f/HarrowIcon64.png/revision/latest?cb=20170920180757" alt="harrow">
</a>
<a href="/warframes/Hydroid">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/e/ef/HydroidIcon64.png/revision/latest?cb=20170920180814" alt="hydroid">
</a>
<a href="/warframes/Inaros">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/d/de/InarosIcon64.png/revision/latest?cb=20170920180829" alt="inaros">
</a>
<a href="/warframes/Ivara">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/4/4a/IvaraIcon64.png/revision/latest?cb=20170920180850" alt="ivara">
</a>
<a href="/warframes/Limbo">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/f/f0/LimboIcon64.png/revision/latest?cb=20170920180912" alt="limbo">
</a>
<a href="/warframes/Loki">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/8/85/LokiIcon64.png/revision/latest?cb=20170920180929" alt="loki">
</a>
<a href="/warframes/Mag">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/e/ea/MagIcon64.png/revision/latest?cb=20170920180947" alt="mag">
</a>
<a href="/warframes/Mesa">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/1/19/MesaIcon64.png/revision/latest?cb=20170920181012" alt="mesa">
</a>
<a href="/warframes/Mirage">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/6/6c/MirageIcon64.png/revision/latest?cb=20170920181030" alt="mirage">
</a>
<a href="/warframes/Nekros">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/c/cb/NekrosIcon64.png/revision/latest?cb=20170920181047" alt="nekros">
</a>
<a href="/warframes/Nezha">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/b/b4/NezhaIcon64.png/revision/latest?cb=20170920181104" alt="nezha">
</a>
<a href="/warframes/Nidus">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/b/ba/NidusIcon64.png/revision/latest?cb=20170920181119" alt="nidus">
</a>
<a href="/warframes/Nova">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/3/31/NovaIcon64.png/revision/latest?cb=20170920181136" alt="nova">
</a>
<a href="/warframes/Nyx">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/1/17/NyxIcon64.png/revision/latest?cb=20170920181153" alt="nyx">
</a>
<a href="/warframes/Oberon">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/2/2c/OberonIcon64.png/revision/latest?cb=20170920181212" alt="oberon">
</a>
<a href="/warframes/Octavia">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/8/8f/OctaviaIcon64.png/revision/latest?cb=20170920181229" alt="octavia">
</a>
<a href="/warframes/Rhino">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/3/32/RhinoIcon64.png/revision/latest?cb=20170920181247" alt="rhino">
</a>
<a href="/warframes/Saryn">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/0/06/SarynIcon64.png/revision/latest?cb=20170920181304" alt="saryn">
</a>
<a href="/warframes/Titania">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/9/94/TitaniaIcon64.png/revision/latest?cb=20170920181321" alt="titania">
</a>
<a href="/warframes/Trinity">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/b/b6/TrinityIcon64.png/revision/latest?cb=20170920181345" alt="trinity">
</a>
<a href="/warframes/Valkyr">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/f/f3/ValkyrIcon64.png/revision/latest?cb=20170920181402" alt="valkyr">
</a>
<a href="/warframes/Vauban">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/1/13/VaubanIcon64.png/revision/latest?cb=20170920181418" alt="vauban">
</a>
<a href="/warframes/Volt">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/a/a9/VoltIcon64.png/revision/latest?cb=20170920181436" alt="volt">
</a>
<a href="/warframes/Wukong">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/d/d6/WukongIcon64.png/revision/latest?cb=20170920181453" alt="wukong">
</a>
<a href="/warframes/Zephyr">
    <img class="warframe-image_" src="https://vignette.wikia.nocookie.net/warframe/images/6/69/ZephyrIcon64.png/revision/latest?cb=20170920181511" alt="zephyr">
</a> -->


  <% @warframes.each do |warframe| %>
  <<div class="warframes-div_">
          <a href= <%= current_warframe_link(warframe) %> title=<%= warframe.name %>>
          <img class="warframe-image_" src=<%= warframe.image_url%> alt=<%= warframe.name%>>
          <span class="warframes-names-span_">
                  <span class="warframes-span_"><%= warframe.name%></span>
          </span>
      </a>
  </div>
  <% end %>

  <p class="warframes-paragraph_">
      The Warframe is an advanced weapons system used exclusively by the Tenno in their missions throughout the Origin System.
      The Warframes possess regenerative shields, greatly enhanced mobility, and enable the use of an array of supernatural abilities – all of which further
      augment the Tenno's deadly use of traditional combat arts.
  </p>
