<% provide(:title, 'Add Warframe') %>

<h1 class = "white">Add Warframe</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@warframe) do |w| %>

      <%= w.label :name %>
      <%= w.text_field :name, class: 'form-control' %>

      <%= w.label :image_url, "Image Url" %>
      <%= w.text_field :image_url, class: 'form-control' %>

      <%= w.label :blueprintDropChance, "Blueprint Drop Chance" %>
      <%= w.text_field :blueprintDropChance, class: 'form-control' %>

      <%= w.label :systemsDropChance, "Systems Drop Chance" %>
      <%= w.text_field :systemsDropChance, class: 'form-control' %>

      <%= w.label :chassisDropChance, "Chassis Drop Chance" %>
      <%= w.text_field :chassisDropChance, class: 'form-control' %>

      <%= w.label :neuropticsDropChance, "Neuroptics Drop Chance" %>
      <%= w.text_field :neuropticsDropChance, class: 'form-control' %>

      <%= w.label :armor, "Armor" %>
      <%= w.text_field :armor, class: 'form-control' %>

      <%= w.label :energy, "Energy" %>
      <%= w.text_field :energy, class: 'form-control' %>

      <%= w.label :health, "Health" %>
      <%= w.text_field :health, class: 'form-control' %>

      <%= w.label :shield, "Shield" %>
      <%= w.text_field :shield, class: 'form-control' %>

      <%= w.label :mastery_rank, "Mastery Rank" %>
      <%= w.text_field :mastery_rank, class: 'form-control' %>

      <%= w.label :description, "Description" %>
      <%= w.text_area :description, class: 'form-control' %>

      <%= w.label :whereToGet , "Where To Get"%>
      <%= w.text_area :whereToGet, class: 'form-control' %>


      <div id = "button">
        <%= w.submit "Add Warframe", class: "btn-submit btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
