<% provide(:title, 'Add Warframe') %>
<h1 class = "white">Add Warframe</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@warframe, url: current_link + 'warframes/new') do |f| %>

      <%= f.label :image_url, "Image Url" %>
      <%= f.text_field :image_url, class: 'form-control' %>

      <%= f.label :whereToGet , "Where To Get"%>
      <%= f.text_area :whereToGet, class: 'form-control' %>

      <%= f.label :neuropticsDropChance, "Neuroptics Drop Chance" %>
      <%= f.text_field :neuropticsDropChance, class: 'form-control' %>

      <%= f.label :chassisDropChance, "Chassis Drop Chance" %>
      <%= f.text_field :chassisDropChance, class: 'form-control' %>

      <%= f.label :blueprintDropChance, "BluePrint Drop Chance" %>
      <%= f.text_field :blueprintDropChance, class: 'form-control' %>

      <%= f.label :systemsDropChance, "Systems Drop Chance" %>
      <%= f.text_field :systemsDropChance, class: 'form-control' %>

      <%= f.submit "Add Warframe", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
