<div id="wf-image-and-title">
    <h1 id="wf-header"> <%= @warframe.name %> </h1>
    <img id="wf-image" src=<%= @warframe.image_url %>  alt=<%= @warframe.name %> title=<%= @warframe.name %> align="left">
</div>

<div id="wf-wrapper">
    <div id="wf-stats-div">
        <h4 class="wf-stats">Mastery Rank: <%= @warframe.mastery_rank %> </h4>
        <h4 class="wf-stats">Health:  <%= @warframe.health %> </h4>
        <h4 class="wf-stats">Shield:  <%= @warframe.shield %> </h4>
        <h4 class="wf-stats">Armor:  <%= @warframe.armor %> </h4>
        <h4 class="wf-stats">Energy:  <%= @warframe.energy %> </h4>
    </div>
</div>

<div id="wf-description">
    <p id="wf-description-paragraph">
        <%= @warframe.description %>
    </p>
</div>
