<div id ="warframe_data">
    <h1 id="warframe-view-header_"> <%= @warframe.name %> </h1>
    <!-- <div id="image-and-text"> -->
        <img id="warframe-view-image_" src=<%= @warframe.image_url %>  alt=<%= @warframe.name %> title=<%= @warframe.name %> >
        <!-- <h1>Where To Get: <%= @warframe.whereToGet %> </h1> -->
    <!-- </div> -->
</div>

<div id="warframe-description_">
    <p id="warframe-description-paragraph_">
         <%= @warframe.description %>
    </p>
</div>

<div id="warframe-view-wrapper_">
    <div id="warframe-view-stats-div_">
        <h4 class="warframe-view-stats_">Mastery Rank: <%= @warframe.mastery_rank %> </h4>
        <h4 class="warframe-view-stats_">Health:  <%= @warframe.health %> </h4>
        <h4 class="warframe-view-stats_">Shield:  <%= @warframe.shield %> </h4>
        <h4 class="warframe-view-stats_">Armor:  <%= @warframe.armor %> </h4>
        <h4 class="warframe-view-stats_">Energy:  <%= @warframe.energy %> </h4>
    </div>
    <!-- <div id="warframe-view-stats-div2_">
        <h4 class="warframe-view-stats_"> <%= @warframe.mastery_rank %> </h4>
        <h4 class="warframe-view-stats_"> <%= @warframe.health %> </h4>
        <h4 class="warframe-view-stats_"> <%= @warframe.shield %> </h4>
        <h4 class="warframe-view-stats_"> <%= @warframe.armor %> </h4>
        <h4 class="warframe-view-stats_"> <%= @warframe.energy %> </h4>
    </div> -->


</div>
