<div id="wf-image-and-title">
    <h1 id="wf-header"> <%= @warframe.name %> </h1>
    <img id="wf-image" src=<%= @warframe.image_url %>  alt=<%= @warframe.name %> title=<%= @warframe.name %> align="left">
</div>

<div id="wf-wrapper">
    <div id="wf-stats-div">
        <h4 class="wf-stats">Mastery Rank: <%= @warframe.mastery_rank %> </h4>
        <h4 class="wf-stats">Health:  <%= @warframe.health %> </h4>
        <h4 class="wf-stats">Shield:  <%= @warframe.shield %> </h4>
        <h4 class="wf-stats">Armor:  <%= @warframe.armor %> </h4>
        <h4 class="wf-stats">Energy:  <%= @warframe.energy %> </h4>
    </div>
</div>

<hr id="seperator">

<div id="wf-description">
    <p id="wf-description-paragraph">
        <%= @warframe.description %>
        <br>
        <br>
        <%= @warframe.whereToGet %>
    </p>
</div>

<% if logged_in? && not_free? %>
  <%= form_for(:user, url: current_link + "warframes/favorite/" +  @warframe.id.to_s) do |f| %>
    <% if FavoriteWarframe.where(user_id: current_user, warframe_id: @warframe.id).exists? %>
      <div class = 'favorites_button'>
        <%= f.submit "Remove warframe from favorites", class: "btn btn-secoundary" %>
      </div>
    <%else%>
      <div class = 'favorites_button'>
        <%= f.submit "Add warframe to favorites", class: "btn btn-secoundary" %>
      </div>
    <% end %>
  <% end %>

  <% if current_user.permissions  > 1 %>
    <div class = 'favorites_button'>
      <p style = "font-size: 150%;"><%= link_to "• Delete", @warframe, method: :delete, data: { confirm: "You sure?"}%></p>
      <p style = "font-size: 150%;"><%= link_to "• Edit", @warframe, method: :edit %> </p>
    </div>
  <% end %>
<% end %>

<% @vWarframe = Warframe.order("views DESC").first %>
<% if @vWarframe == @warframe %>
  <%@vWarframe = Warframe.order("views DESC")[2] %>
<% end %>

<div class = "most-viewed right" >
  <h4 style = "text-align: center">Most popular Warframe</h4>
  <img  src="<%= @vWarframe.image_url %>" class="most-popular-image weapon first" title="<%= @vWarframe.name %>" alt="<%= @vWarframe .name %>" onclick="location.href='/warframes/<%= @vWarframe.id %>'">
</div>
