<% provide(:title, "Edit weapon") %>
<h1 class = "white">Update weapon</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@weapon) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :image_url, "Image Url" %>
      <%= f.text_field :image_url, class: 'form-control' %>

      <%= f.label :whereToGet, "Where to get" %>
      <%= f.text_field :whereToGet, class: 'form-control' %>

      <%= f.label :dropChance, "Drop Chance" %>
      <%= f.text_field :dropChance, class: 'form-control' %>

      <%= f.label :weapon_type, "Weapon Type" %>
      <%= f.text_field :weapon_type, class: 'form-control' %>

      <%= f.label :mastery_rank, "Mastery rank" %>
      <%= f.text_field :mastery_rank, class: 'form-control' %>

      <%= f.label :attack_type, "Attack type" %>
      <%= f.text_field :attack_type, class: 'form-control' %>

      <%= f.label :impact, "Impact" %>
      <%= f.text_field :impact, class: 'form-control' %>

      <%= f.label :puncture, "Puncture" %>
      <%= f.text_field :puncture, class: 'form-control' %>

      <%= f.label :slash, "Slash" %>
      <%= f.text_field :slash, class: 'form-control' %>

      <%= f.label :elecricity, "Electricity" %>
      <%= f.text_field :elecricity, class: 'form-control' %>

      <%= f.label :fire, "Fire" %>
      <%= f.text_field :fire, class: 'form-control' %>

      <%= f.label :toxin, "Toxin" %>
      <%= f.text_field :toxin, class: 'form-control' %>

      <%= f.label :cold, "Cold" %>
      <%= f.text_field :cold, class: 'form-control' %>

      <%= f.label :blast, "Blast" %>
      <%= f.text_field :blast, class: 'form-control' %>

      <%= f.label :corrosive, "Corrosive" %>
      <%= f.text_field :corrosive, class: 'form-control' %>

      <%= f.label :gas, "Gas" %>
      <%= f.text_field :gas, class: 'form-control' %>

      <%= f.label :magnetic, "Magnetic" %>
      <%= f.text_field :magnetic, class: 'form-control' %>

      <%= f.label :radiation, "Radiation" %>
      <%= f.text_field :radiation, class: 'form-control' %>

      <%= f.label :viral, "Viral" %>
      <%= f.text_field :viral, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn-submit btn-primary" %>
    <% end %>
  </div>
</div>
