<% @melee.order("name ASC").each do |melee| %>
    <div id="header-div">
        <img src="<%= melee.image_url %>" id="weapon-img" alt="<% melee.name %>">
        <h1 onclick="location.href='/weapons/melee/<%= melee.id %>'" id="weapon-h1"> <%= melee.name %> </h1>
        <h1 id="weapon-mr"> MR <%= melee.mastery_rank %> </h1>
    </div>
<% end %>
<%= render 'layouts/weapon_suggestions' %>
