<% provide(:title, 'Add Weapon') %>

<h1 class = "white">Add Weapon</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@weapon) do |w| %>

        <%= w.label :weapon_type, "Weapon Type" %>
        <%= w.text_field :weapon_type, class: 'form-control' %>

      <%= w.label :name %>
      <%= w.text_field :name, class: 'form-control' %>

      <%= w.label :image_url, "Image Url" %>
      <%= w.text_field :image_url, class: 'form-control' %>

      <%= w.label :whereToGet , "Where To Get"%>
      <%= w.text_area :whereToGet, class: 'form-control' %>

      <%= w.label :dropChance, "Drop Chance" %>
      <%= w.text_field :dropChance, class: 'form-control' %>

      <%= w.label :mastery_rank, "Mastery rank" %>
      <%= w.text_field :mastery_rank, class: 'form-control' %>

      <%= w.label :type, "Type" %>
      <%= w.text_field :attack_type, class: 'form-control' %>

      <%= w.label :impact, "Impact" %>
      <%= w.text_field :impact, class: 'form-control' %>

      <%= w.label :puncture, "Puncture" %>
      <%= w.text_field :puncture, class: 'form-control' %>

      <%= w.label :slash, "Slash" %>
      <%= w.text_field :slash, class: 'form-control' %>

      <%= w.label :elecricity, "Elecricity" %>
      <%= w.text_field :elecricity, class: 'form-control' %>

      <%= w.label :fire, "Fire" %>
      <%= w.text_field :fire, class: 'form-control' %>

      <%= w.label :toxin, "Toxin" %>
      <%= w.text_field :toxin, class: 'form-control' %>

      <%= w.label :cold, "Cold" %>
      <%= w.text_field :cold, class: 'form-control' %>

      <%= w.label :blast, "Blast" %>
      <%= w.text_field :blast, class: 'form-control' %>

      <%= w.label :corrosive, "Corrosive" %>
      <%= w.text_field :corrosive, class: 'form-control' %>

      <%= w.label :gas, "Gas" %>
      <%= w.text_field :gas, class: 'form-control' %>

      <%= w.label :magnetic, "Magnetic" %>
      <%= w.text_field :magnetic, class: 'form-control' %>

      <%= w.label :radiation, "Radiation" %>
      <%= w.text_field :radiation, class: 'form-control' %>

      <%= w.label :viral, "Viral" %>
      <%= w.text_field :viral, class: 'form-control' %>

      <%= w.submit "Add Weapon", class: "btn-submit btn-primary" %>
    <% end %>
  </div>
</div>
