<% @primary.each do |primary| %>
    <div id="header-div">
        <img src="<%= primary.image_url %>" id="weapon-img" alt="<% primary.name %>">
        <h1 onclick="location.href='/weapons/primary/<%= primary.id %>'" id="weapon-h1"> <%= primary.name %> </h1>
        <h1 id="weapon-mr"> MR <%= primary.mastery_rank %> </h1>
    </div>
<% end %>
<%= render 'layouts/weapon_suggestions' %>
