<div id ="weapon_data">
    <h1 id="weapon-view-header_"> <%= @weapon.name %> </h1>
    <div id="image-and-text">
        <img id="weapon-view-image_" src= <%= @weapon.image_url %>  alt=<%= @weapon.name %> title=<%= @weapon.name %> >

        <div id="weapon-view-wrapper_">
            <div id="weapon-view-stats-div_">
            <h4 class="weapon-view-stats_">Mastery Rank: <%= @weapon.mastery_rank %> </h4>
                <h4 class="weapon-view-stats_">Type: <%= @weapon.attack_type %> </h4>
                <% if @weapon.impact != nil %>
                  <h4 class="weapon-view-stats_">Impact: <%= @weapon.impact %> </h4>
                <% end %>

                <% if @weapon.puncture != nil %>
                  <h4 class="weapon-view-stats_">Puncture: <%= @weapon.puncture %> </h4>
                <% end %>

                <% if @weapon.slash != nil %>
                  <h4 class="weapon-view-stats_">Slash: <%= @weapon.slash %> </h4>
                <% end %>

                <% if @weapon.elecricity != nil %>
                    <h4 class="weapon-view-stats_">Electricity: <%= @weapon.elecricity %> </h4>
                <% end %>

                <% if @weapon.fire != nil %>
                    <h4 class="weapon-view-stats_">Fire: <%= @weapon.fire %> </h4>
                <% end %>

                <% if @weapon.toxin != nil %>
                    <h4 class="weapon-view-stats_">Toxin: <%= @weapon.toxin %> </h4>
                <% end %>

                <% if @weapon.cold != nil %>
                    <h4 class="weapon-view-stats_">Cold: <%= @weapon.cold %> </h4>
                <% end %>

                <% if @weapon.blast != nil %>
                    <h4 class="weapon-view-stats_">Blast: <%= @weapon.blast %> </h4>
                <% end %>

                <% if @weapon.corrosive != nil %>
                    <h4 class="weapon-view-stats_">Corrosive: <%= @weapon.corrosive %> </h4>
                <% end %>

                <% if @weapon.gas != nil %>
                    <h4 class="weapon-view-stats_">Gas: <%= @weapon.gas %> </h4>
                <% end %>

                <% if @weapon.magnetic != nil %>
                    <h4 class="weapon-view-stats_">Magnetic: <%= @weapon.magnetic %> </h4>
                <% end %>

                <% if @weapon.radiation != nil %>
                    <h4 class="weapon-view-stats_">Radiation: <%= @weapon.radiation %> </h4>
                <% end %>

                <% if @weapon.viral != nil %>
                    <h4 class="weapon-view-stats_">Viral: <%= @weapon.viral %> </h4>
                <% end %>
            </div>
        </div>
    </div>
</div>

  <h3 class = "center_white"> Where to get : <br> <%= @weapon.whereToGet %></h3>

<% if logged_in? && not_free? %>
  <%= form_for(:user, url: current_link + "weapons/" + @weapon.weapon_type.to_s + "/" + @weapon.id.to_s) do |f| %>
    <% if FavoriteWeapon.where(user_id: current_user, weapon_id: @weapon.id).exists? %>
      <div class = 'favorites_button_center'>
        <%= f.submit "Remove weapon from favorites", class: "btn btn-secoundary" %>
      </div>
    <%else%>
      <div class = 'favorites_button_center'>
        <%= f.submit "Add weapon to favorites", class: "btn btn-secoundary" %>
      </div>
    <% end %>
  <% end %>
  <% if current_user.permissions  > 1 %>
    <div class = 'favorites_button_center'>
      <p style = "font-size: 150%;"><%= link_to "• Delete", @weapon, method: :delete, data: { confirm: "You sure?"}%></p>
      <p style = "font-size: 150%;"><%= link_to "• Edit", @weapon, method: :edit %> </p>
    </div>
  <% end %>
<% end %>

<%= render 'layouts/weapon_suggestions' %>
