<div id ="weapon_data">
    <h1 id="weapon-view-header_"> <%= @weapon.name %> </h1>
    <div id="image-and-text">
        <img id="weapon-view-image_" src= <%= @weapon.image_url %>  alt=<%= @weapon.name %> title=<%= @weapon.name %> >

        <div id="weapon-view-wrapper_">
            <div id="weapon-view-stats-div_">
            <h4 class="weapon-view-stats_">Mastery Rank: <%= @weapon.mastery_rank %> </h4>
                <h4 class="weapon-view-stats_">Type: <%= @weapon.attack_type %> </h4>
                <% if @weapon.impact != nil %>
                  <h4 class="weapon-view-stats_">Impact: <%= @weapon.impact %> </h4>
                <% end %>
                <% if @weapon.puncture != nil %>
                  <h4 class="weapon-view-stats_">Puncture: <%= @weapon.puncture %> </h4>
                <% end %>
                <% if @weapon.slash != nil %>
                  <h4 class="weapon-view-stats_">Slash: <%= @weapon.slash %> </h4>
                <% end %>
                <% if @weapon.viral != nil %>
                    <h4 class="weapon-view-stats_">Viral: <%= @weapon.viral %> </h4>
                <% end %>
            </div>
        </div>
    </div>
</div>

  <h3 class = "center_white"> Where to get : <br> <%= @weapon.whereToGet %></h3>

<% if logged_in? && not_free? %>
  <%= form_for(:user, url: current_link + "weapons/" + @weapon.weapon_type.to_s + "/" + @weapon.id.to_s) do |f| %>
    <% if FavoriteWeapon.where(user_id: current_user, weapon_id: @weapon.id).exists? %>
      <div class = 'favorites_button_center'>
        <%= f.submit "Remove weapon from favorites", class: "btn btn-secoundary" %>
      </div>
    <%else%>
      <div class = 'favorites_button_center'>
        <%= f.submit "Add weapon to favorites", class: "btn btn-secoundary" %>
      </div>
    <% end %>
  <% end %>
  <% if current_user.permissions  > 1 %>
    <div class = 'favorites_button_center'>
      <p style = "font-size: 150%;"><%= link_to "• Delete", @weapon, method: :delete, data: { confirm: "You sure?"}%></p>
      <p style = "font-size: 150%;"><%= link_to "• Edit", @weapon, method: :edit %> </p>
    </div>
  <% end %>
<% end %>

<% @weapons = Weapon.order("views DESC") %>

<% @weapons.each do |m| %>
  <% if @mFirst != nil && @mSecond != nil && @mThird != nil && @mForth != nil && @mFifth != nil && @mSixth != nil%>
    <% break %>
  <% end %>

  <% if @weapon != m && @mFirst != nil && @mSecond != nil && @mThird != nil  && @mForth != nil && @mFifth != nil && @mSixth == nil%>
    <% @mSixth = m %>
  <%end %>

  <% if @weapon != m && @mFirst != nil && @mSecond != nil && @mThird != nil  && @mForth != nil && @mFifth == nil%>
    <% @mFifth = m %>
  <%end %>

  <% if @weapon != m && @mFirst != nil && @mSecond != nil && @mThird != nil  && @mForth == nil%>
    <% @mForth = m %>
  <%end %>

  <% if @weapon != m && @mFirst != nil && @mSecond != nil && @mThird == nil %>
    <% @mThird = m %>
  <%end %>

  <% if @weapon != m && @mFirst != nil && @mSecond == nil%>
    <% @mSecond = m %>
  <% end %>

  <% if @weapon != m && @mFirst == nil%>
    <% @mFirst = m%>
  <% end %>
<% end %>


<div class = "most-viewed left" >
<h4 style = "text-align: center">Most popular weapons</h4>
<img  src="<%= @mFirst.image_url %>" class="most-popular-image weapon first" title="<%= @mFirst.name %>" alt="<%= @mFirst.name %>" onclick="location.href='/weapons/<%= @mFirst.id %>'">
<img  src="<%= @mForth.image_url %>" class="most-popular-image weapon second" title="<%= @mForth.name %>" alt="<%= @mForth.name %>" onclick="location.href='/weapons/<%= @mForth.id %>'">
<img  src="<%= @mSixth.image_url %>" class="most-popular-image weapon third" title="<%= @mSixth.name %>" alt="<%= @mSixth.name %>" onclick="location.href='/weapons/<%= @mSixth.id %>'">
</div>

<div class = "most-viewed right" >
<h4 style = "text-align: center">Most popular weapons</h4>
<img  src="<%= @mSecond.image_url %>" class="most-popular-image weapon first" title="<%= @mSecond.name %>" alt="<%= @mSecond .name %>" onclick="location.href='/weapons/<%= @mSecond.id %>'">
<img  src="<%= @mThird.image_url %>" class="most-popular-image weapon second" title="<%= @mThird.name %>" alt="<%= @mThird .name %>" onclick="location.href='/weapons/<%= @mThird.id %>'">
<img  src="<%= @mFifth.image_url %>" class="most-popular-image weapon third" title="<%= @mFifth.name %>" alt="<%= @mFifth .name %>" onclick="location.href='/weapons/<%= @mFifth.id %>'">
</div>
