<%= csrf_meta_tags %>
<ul class="navv">
	<li class="logoo" id = "landing_li"><a href = "/">WarframeLootWiki</a></li>

	<li class="droppdown" id = "landing_li">
    <a href="/warframes" class="droppbtn">Warframes</a>
	    <div class="droppdown-content">
				<% Warframe.all.each do |warframe| %>
					<a href= <%=current_warframe_link(warframe)%>><%= warframe.name %></a>
				<%end%>
	    </div>
	</li>

	<li class="droppdown" id = "landing_li">
    <a href="/weapons" class="droppbtn">Weapons</a>
	    <div class="droppdown-content">
	    	<a href="/weapons/primary">Primary</a>
	    	<a href="/weapons/secondary">Secondary</a>
	    	<a href="/weapons/melee">Melee</a>
	    </div>
	</li>

	<li class="droppdown" id = "landing_li">
    <a href="/mods" class="droppbtn">Mods</a>
	    <div class="droppdown-content">
	    	<a href="/mods/warframe">Warframe Mods</a>
	    	<a href="/mods/weapon">Weapon Mods</a>
	    </div>
	</li>

	<li class="droppdown" id = "landing_li">
    <a href="/relics" class="droppbtn">Relics</a>
	    <div class="droppdown-content">
	    	<a href="/relics/lith">Lith</a>
	    	<a href="/relics/meso">Meso</a>
	    	<a href="/relics/neo">Neo</a>
	    	<a href="/relics/axi">Axi</a>
	    </div>
	</li>
	<li class = "droppdown" id = "landing_li">
		<%= form_tag("/search", method: "get") do %>
		  <%= text_field_tag(:q) %>
		  <!-- <%= submit_tag("Search") %> -->
		<% end %>
	</li>
	<%if !logged_in? %>
		<li class="droppdown" id = "sign">
			<a href="javascript:void(0)" class="droppbtn" id = "current_user_navbar">Account</a>
			<div class = "droppdown-content">
				<div id = "sign_dropdown">
						<a href ="/signup">Sign up</a>
						<a href ="/login">Log in</a>
					</div>
			</div>
		</li>
	<%else%>
		<li class="droppdown" id = "sign">
			<a href="javascript:void(0)" class="droppbtn" id = "current_user_navbar">
				<div id="profile-picture"><%= image_tag(current_user.image_url, height: '22', width: '22') %></div>
				<%= current_user.name.split.first %>
			</a>

			<div class = "droppdown-content">
				<div id = "sign_dropdown">
							<%= link_to "Profile", current_user %>
							<%= link_to "Log out", logout_path, method: :delete %>
							<%= link_to "Update Profile", '/users/' + current_user.id.to_s + '/edit' %>
							<%= link_to "All Users", users_path %>
						<%if current_user.permissions == 2  || current_user.permissions == 3%>
							<%= link_to "Moderator panel", "/moderator" %>
						<%end%>
						<%if current_user.permissions == 3 %>
							<%= link_to "Admin panel", "/admin" %>
						<%end%>
				</div>
			</div>
		</li>
	<%end%>


</ul>
