<%= csrf_meta_tags %>
<ul class="navv">
	<li class="logoo"><a href = "/">WarframeLootWiki</a></li>

	<li class="droppdown">
    <a href="/warframes" class="droppbtn">Warframes</a>
	    <div class="droppdown-content">
	    	<a href="#">Ash</a>
	    	<a href="#">Atlas</a>
	    	<a href="#">Banshee</a>
	    	<a href="#">Chroma</a>
	    	<a href="#">Ember</a>
	    	<a href="#">Equinox</a>
	    	<a href="#">Excalibur</a>
	    	<a href="#">Frost</a>
	    	<a href="#">Gara</a>
	    	<a href="#">Harrow</a>
	    	<a href="#">Hydroid</a>
	    	<a href="#">Inaros</a>
	    	<a href="#">Ivara</a>
	    	<a href="#">Limbo</a>
	    	<a href="#">Loki</a>
	    	<a href="#">Mag</a>
	    	<a href="#">Mesa</a>
	    	<a href="#">Mirage</a>
	    	<a href="#">Nekros</a>
	    	<a href="#">Nezha</a>
	    	<a href="#">Nidus</a>
	    	<a href="#">Nova</a>
	    	<a href="#">Nyx</a>
	    	<a href="#">Oberon</a>
	    	<a href="#">Octavia</a>
	    	<a href="#">Rhino</a>
	    	<a href="#">Saryn</a>
	    	<a href="#">Titania</a>
	    	<a href="#">Trinity</a>
	    	<a href="#">Valkyr</a>
	    	<a href="#">Vauban</a>
	    	<a href="#">Volt</a>
	    	<a href="#">Wukong</a>
	    	<a href="#">Zephyr</a>
	    </div>
	</li>

	<li class="droppdown">
    <a href="/weapons" class="droppbtn">Weapons</a>
	    <div class="droppdown-content">
	    	<a href="#">Primary</a>
	    	<a href="#">Secondary</a>
	    	<a href="#">Melee</a>
	    	<a href="#">Companion</a>
	    </div>
	</li>

	<li class="droppdown">
    <a href="/mods" class="droppbtn">Mods</a>
	    <div class="droppdown-content">
	    	<a href="#">Warframe Mods</a>
	    	<a href="#">Weapon Mods</a>
	    	<a href="#">Companion Mods</a>
	    </div>
	</li>
	<!-- Disabled for now -->
	<!-- <li class="droppdown">
    <a href="javascript:void(0)" class="droppbtn">Materials</a>
	    <div class="droppdown-content">
	    	<a href="#">Link 1</a>
	    	<a href="#">Link 2</a>
	    	<a href="#">Link 3</a>
	    	<a href="#">Link 4</a>
	    </div>
	</li> -->

	<li class="droppdown">
    <a href="/relics" class="droppbtn">Relics</a>
	    <div class="droppdown-content">
	    	<a href="#">Lith</a>
	    	<a href="#">Meso</a>
	    	<a href="#">Neo</a>
	    	<a href="#">Axi</a>
	    </div>
	</li>
	<%if !logged_in? %>
		<li class="droppdown" id = "sign">
			<a href="javascript:void(0)" class="droppbtn">Account</a>
			<div class = "droppdown-content">
				<div id = "sign_dropdown">
						<a href ="/signup">Sign up</a>
						<a href ="/login">Log in</a>
					</div>
			</div>
		</li>
	<%else%>
		<li class="droppdown" id = "sign">
			<a href="javascript:void(0)" class="droppbtn">Account</a>
			<div class = "droppdown-content">
				<div id = "sign_dropdown">
							<%= link_to "Profile", current_user %>
							<%= link_to "Log out", logout_path, method: :delete %>
							<%= link_to "Update Profile", '/users/' + current_user.id.to_s + '/edit' %>
							<%= link_to "All Users", users_path %>
						<%if current_user.permissions == 2  || current_user.permissions == 3%>
							<%= link_to "Moderator panel", "/moderator" %>
						<%end%>
						<%if current_user.permissions == 3 %>
							<%= link_to "Admin panel", "/admin" %>
						<%end%>
				</div>
			</div>
		</li>
	<%end%>


</ul>
