<%= csrf_meta_tags %>
<ul class="navv">
	<li class="logoo" id = "landing_li"><a href = "/">WarframeLootWiki</a></li>

	<li class="droppdown" id = "landing_li">
    <a href="/warframes" class="droppbtn">Warframes</a>
	    <div class="droppdown-content">
				<% Warframe.all.each do |warframe| %>
					<a href= <%=current_warframe_link(warframe)%>><%= warframe.name %></a>
				<%end%>
	    	<!-- <a href="/warframes/Ash">Ash</a>
	    	<a href="/warframes/Ash">Atlas</a>
	    	<a href="/warframes/Ash">Banshee</a>
	    	<a href="/warframes/Ash">Chroma</a>
	    	<a href="/warframes/Ash">Ember</a>
	    	<a href="/warframes/Ash">Equinox</a>
	    	<a href="/warframes/Ash">Excalibur</a>
	    	<a href="/warframes/Ash">Frost</a>
	    	<a href="/warframes/Ash">Gara</a>
	    	<a href="/warframes/Ash">Harrow</a>
	    	<a href="/warframes/Ash">Hydroid</a>
	    	<a href="/warframes/Ash">Inaros</a>
	    	<a href="/warframes/Ash">Ivara</a>
	    	<a href="/warframes/Ash">Limbo</a>
	    	<a href="/warframes/Ash">Loki</a>
	    	<a href="/warframes/Ash">Mag</a>
	    	<a href="/warframes/Ash">Mesa</a>
	    	<a href="/warframes/Ash">Mirage</a>
	    	<a href="/warframes/Ash">Nekros</a>
	    	<a href="/warframes/Ash">Nezha</a>
	    	<a href="/warframes/Ash">Nidus</a>
	    	<a href="/warframes/Ash">Nova</a>
	    	<a href="/warframes/Ash">Nyx</a>
	    	<a href="/warframes/Ash">Oberon</a>
	    	<a href="/warframes/Ash">Octavia</a>
	    	<a href="/warframes/Ash">Rhino</a>
	    	<a href="/warframes/Ash">Saryn</a>
	    	<a href="/warframes/Ash">Titania</a>
	    	<a href="/warframes/Ash">Trinity</a>
	    	<a href="/warframes/Ash">Valkyr</a>
	    	<a href="/warframes/Ash">Vauban</a>
	    	<a href="/warframes/Ash">Volt</a>
	    	<a href="/warframes/Ash">Wukong</a>
	    	<a href="/warframes/Ash">Zephyr</a> -->
	    </div>
	</li>

	<li class="droppdown" id = "landing_li">
    <a href="/weapons" class="droppbtn">Weapons</a>
	    <div class="droppdown-content">
	    	<a href="/weapons/Primary">Primary</a>
	    	<a href="/weapons/Secondary">Secondary</a>
	    	<a href="/weapons/Melee">Melee</a>
	    	<!-- <a href="/weapons/Companion">Companion</a> -->
	    </div>
	</li>

	<li class="droppdown" id = "landing_li">
    <a href="/mods" class="droppbtn">Mods</a>
	    <div class="droppdown-content">
	    	<a href="/mods/Warframe">Warframe Mods</a>
	    	<a href="/mods/Weapon">Weapon Mods</a>
	    	<!-- <a href="/mods/Companion">Companion Mods</a> -->
	    </div>
	</li>
	<!-- Disabled for now -->
	<!-- <li class="droppdown">
    <a href="javascript:void(0)" class="droppbtn">Materials</a>
	    <div class="droppdown-content">
	    	<a href="#">Link 1</a>
	    	<a href="#">Link 2</a>
	    	<a href="#">Link 3</a>
	    	<a href="#">Link 4</a>
	    </div>
	</li> -->

	<li class="droppdown" id = "landing_li">
    <a href="/relics" class="droppbtn">Relics</a>
	    <div class="droppdown-content">
	    	<a href="/relics/Lith">Lith</a>
	    	<a href="/relics/Meso">Meso</a>
	    	<a href="/relics/Neo">Neo</a>
	    	<a href="/relics/Axi">Axi</a>
	    </div>
	</li>
	<%if !logged_in? %>
		<li class="droppdown" id = "sign">
			<a href="javascript:void(0)" class="droppbtn" id = "current_user_navbar">Account</a>
			<div class = "droppdown-content">
				<div id = "sign_dropdown">
						<a href ="/signup">Sign up</a>
						<a href ="/login">Log in</a>
					</div>
			</div>
		</li>
	<%else%>
		<li class="droppdown" id = "sign">
			<a href="javascript:void(0)" class="droppbtn" id = "current_user_navbar">
				<div id="profile-picture"><%= image_tag(current_user.image_url, height: '22', width: '22') %></div>
				<%= current_user.name.split.first %>
			</a>

			<div class = "droppdown-content">
				<div id = "sign_dropdown">
							<%= link_to "Profile", current_user %>
							<%= link_to "Log out", logout_path, method: :delete %>
							<%= link_to "Update Profile", '/users/' + current_user.id.to_s + '/edit' %>
							<%= link_to "All Users", users_path %>
						<%if current_user.permissions == 2  || current_user.permissions == 3%>
							<%= link_to "Moderator panel", "/moderator" %>
						<%end%>
						<%if current_user.permissions == 3 %>
							<%= link_to "Admin panel", "/admin" %>
						<%end%>
				</div>
			</div>
		</li>
	<%end%>


</ul>
