<%= csrf_meta_tags %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="KmZ3yL0mEhIT2C_DvNtczNGzgAXDYtJAhTPsdJCGyK8" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>WarframeLootWiki</title>

    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3906919142155114",
        enable_page_level_ads: true
      });
    </script> -->

  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
